SECRET_KEY=
DEBUG=

# Django se conecta con estas
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# La imagen de Postgres se inicializa con estas (mismos valores, otros nombres de variable)
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
